@import 'core/reset.scss';
@import 'core/mixins.scss';
@import 'core/variables.scss';


html {
  background-image: url('../assets/images/background/background_0.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  color: white;
}

// Path: src/scss/global.scss